html {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 5px 325px;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    background-color: #a9a9a9;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}


body {
    background: radial-gradient(#8db6f8 50%, rgba(20, 71, 168, 0.53) 100%);
    align-content: center;
    align-items: center;
}

h1 {
    border: none;
    text-align: center;
    font: 50% Cantarell, sans-serif;
    margin: 10px 60px;
    scale: 100%;
    padding: 10px;
    border-bottom: solid 8px #ffffff;
}

h2 {
    font: 75% 'Cantarell Thin', sans-serif;
    font-size: 40px;
    line-height: 0.5;
    color: black;
    text-align: center;
}

h3 {
    font: 75% 'Cantarell Thin', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 10px 150px;
    border-bottom: solid 2px #ffffff;
}

h4 {
    font: 75% 'Cantarell Thin', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 10px 150px;
    border-bottom: solid 2px #ffffff;
}

img {
    display: block;
    margin: 0 auto 5px auto;
    padding: 5px;
    text-align: center;
}

p {
    align-self: center;
    padding: 5px;
    font: 100% "Montserrat Thin", sans-serif;
    font-size: 20px;
}

.column {
    float: left;
}

#column_1 {
    width: 45%;
    margin: 0 2.25%;
    border: solid 4px #ffffff;
    background-color: rgba(92, 148, 255, 0.53)
}

#column_2 {
    width: 45%;
    margin: 0 2.25%;
    border: solid 4px #ffffff;
    background-color: rgba(92, 148, 255, 0.53)
}

