html {
    margin: 0;
    padding: 0;
    }

button {
    height: fit-content;
    width: fit-content;
    font-size: 20px;
    text-align: center;
    position: relative;
    border: none;
    background-color: darkgray;
}

body {
    background: #8db6f8;
    align-content: center;
    align-items: center;
}

h1 {
        border: none;
        text-align: center;
        font: 50% Cantarell, sans-serif;
        margin: 10px 60px;
        scale: 100%;
        padding: 10px;
        border-bottom: solid 8px #ffffff;
    }

h2 {
    font: 75% 'Cantarell Thin', sans-serif;
    font-size: 40px;
    line-height: 0.5;
    background: #8db6f8;
    color: black;
    text-align: center;
}

img {
    display: block;
    margin: 0px auto 5px auto;
    width: 50%;
    border: solid 4px #ffffff;
    padding: 10px;
    background-color: rgba(92, 148, 255, 0.53)
}

p {
    align-self: center;
    margin: 0 75px;
    border: solid 4px #ffffff;
    padding: 5px;
    background-color: rgba(92, 148, 255, 0.53);
    font-size: 20px;
}

.column {
    float: left;
}

#column_1 {
    width: 25%
}

#column_2 {
    width: 50%;
}

#column_3 {
    width: 25%;
}

#dot_1 {
    height: 250px;
    width: 250px;
    margin: 0 0 0 50px;
    background-color: rgba(0, 169, 116, 0.8);
    border-radius: 50%;
    display: inline-block;
    align-self: center;
}

#dot_2 {
    height: 400px;
    width: 400px;
    margin: -150px 0 0 150px;
    background-color: rgba(135, 206, 250, 0.8);
    border-radius: 50%;
    display: inline-block;
    align-self: center;
}

#dot_3 {
    height: 350px;
    width: 350px;
    margin: -200px 20px 0 75px;
    background-color: rgba(68, 68, 159, 0.58);
    border-radius: 50%;
    display: inline-block;
    align-self: center;
}

#dot_4 {
    height: 200px;
    width: 200px;
    margin: -100px 0 0 300px;
    background-color: rgba(6, 79, 166, 0.8);
    border-radius: 50%;
    display: inline-block;
    align-self: center;
}

#dot_5 {
    height: 400px;
    width: 400px;
    margin: -25px 100px 0 0;
    background-color: rgba(6, 79, 166, 0.8);
    border-radius: 50%;
    display: inline-block;
    align-self: center;
}

#dot_6 {
    height: 350px;
    width: 350px;
    margin: -100px 0 0 -150px;
    background-color: rgba(0, 169, 116, 0.8);
    border-radius: 50%;
    display: inline-block;
    align-self: center;
}

#dot_7 {
    height: 200px;
    width: 200px;
    margin: -200px 50px 0 -100px;
    background-color: rgba(37, 255, 174, 0.8);
    border-radius: 50%;
    display: inline-block;
    align-self: center;
}

#dot_8 {
    height: 250px;
    width: 250px;
    margin: -125px 20px;
    background-color: rgba(68, 68, 159, 0.58);
    border-radius: 50%;
    display: inline-block;
    align-self: center;
}
